<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Show</title>
</head>
<body>
    <h1>TV Show {{show.id}}</h1>
    <p>Title: {{viewed_show.title}}</p>
    <p>Network: {{viewed_show.network}}</p>
    <p>Release Date: {{viewed_show.release_date}}</p>
    <p>Description: {{viewed_show.desc}}</p>
    <p>Last Updated: {{viewed_show.updated_at}}</p>
    <a href="edit/{{show.id}}">Edit</a>
    <a href="shows/{{show.id}}/delete">Delete</a>
</body>
</html>